<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wang.bannong.gk5.ntm.sample.standalone.dao.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="wang.bannong.gk5.ntm.sample.standalone.common.domain.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="type" jdbcType="TINYINT" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, age, num, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectMultiSumResult" resultType="java.util.Map">
    select
    sum(age) as ageSum,
    sum(type) as typeSum,
    count(id) as total
    <!-- sql 可以直接查询，但是代码不可以  除非使用 <String,Object> 承载结果  sum变成的是BigDecimal类型 count变成的是Long类型 -->
    from student
  </select>

  <select id="selectByIds" parameterType="java.util.Set" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where id in <foreach collection="collection" item="id" open="(" separator="," close=")">#{id}</foreach>
  </select>
</mapper>